/*  --------------------->>>>  Imports  <<<<---------------------   */

@import url('./global.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./button-style.css');

/*  --------------------->>>>  Add Word Page  <<<<---------------------   */

#dictionary-main .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 2.4rem; */
  height: calc(85vh - var(--header-height));

  border: 1px solid tomato;
}

#dictionary-main .dictionary-input {
  font-family: 'Inter', sans-serif;
  font-size: 2.4rem;
  color: var(--dark-blue-300);

  outline: none;

  padding: 1rem;

  background: transparent;

  border-radius: 0.8rem;
  border: none;

  width: 32rem;
  height: 24rem;
}

#dictionary-main p {
  font-size: 1.2rem;
  color: var(--dark-blue-400);
  text-align: left;
  margin-bottom: 1.6rem;
}

#dictionary-main i {
  font-size: 1.6rem;
  color: red;
}

/*  Buttons Div  */

#dictionary-main .dictionary-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

/* Buttons Unique Styles */

.button-saveStart {
  padding-inline: 8rem;
}

.button-cancel {
  padding-inline: 10.5rem;
}

.button-saveStart:hover {
  transform: scale(1.05);
}

.button-cancel {
  color: var(--dark-blue-300);

  background: transparent;

  border: 1px solid var(--dark-blue-300);
}

.button-cancel:hover {
  transform: scale(1.05);
  background: var(--dark-blue-300);
  color: var(--light-blue-200);
}
