/*  --------------------->>>>  Imports  <<<<---------------------   */

@import url('./global.css');
@import url('./buttonStyle.css');
@import url('./header.css');

/*  --------------------->>>>  Game Page  <<<<---------------------   */

main .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: calc(125vh - var(--header-height));
  /* height: 100vh; */
}

/* ------- Canvas wrapper -------*/

.canvas-wrapper {
  border: 1px solid tomato;
  height: 100vh;

  display: flex;
  flex-direction: column;
  

  padding: 1rem;
}

.canvas-wrapper p {
  font-size: 4rem;
  margin-bottom: -3rem;
}

/* ------- Canvas -------*/

#gameCanvas {
  border: 1px solid blue;
  width: 100%;
  height: 70%;
}

.game-buttons {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
