/*  --------------------->>>>  header  <<<<---------------------   */

#header {
  display: flex;
}

#header .wrapper {
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*  --------------------->>>>  footer  <<<<---------------------   */

#footer {
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  height: 9.6rem;
}

#footer .wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.4rem;
}

#footer .wrapper ul {
  display: flex;
  gap: 1.6rem;
}
