/*  --------------------->>>>  header  <<<<---------------------   */

#header {
  display: flex;
}

#header .wrapper {
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
