/*  --------------------->>>>  Imports  <<<<---------------------   */

@import url("./global.css");
@import url("./nav.css");
@import url("./footer.css");
@import url('./button-style.css');


/*  --------------------->>>>  Start Game Page  <<<<---------------------   */

main .wrapper {
  display: flex;
  justify-content: center;
  padding-top: 18rem;
}

main .main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
}

main .main-menu .button-start {
  padding-inline: 8rem;
  padding-block: 4rem;
}

main .main-menu .button-addWord {
  padding-inline: 3.2rem;

  background: transparent;
  color: var(--dark-blue-300);

  border: .1px solid var(--dark-blue-300);
}

main .main-menu .button-addWord:hover {
  transform: scale(1.1);
  background: var(--dark-blue-300);
  color: var(--light-blue-200);
}
